:root {
    /* Color palette */
    --dark-color: #31572C;
    --light-color: #ECF39E;
    --light-outline: #e6f2c9;
    --mid-color: #4F772D;
    --dark-mid: #b5c99a;
    --dark-mid-bg: #a6b98b;
    --light-bg: #cfe1b9;
}
* {
    padding: 0;
    margin: 0;
}
html {
    width: 100%;
}
/* background */
main {
    padding: 10px;
}

/* Fonts */
@font-face {
    font-family: 'Abril';
    src: url(fonts/AbrilFatface-Regular.ttf);
}
@font-face {
    font-family: 'Prata';
    src: url(fonts/Prata-Regular.ttf);
}
@font-face {
    font-family: 'Playfair';
    src: url(fonts/PlayfairDisplaySC-Regular.ttf);
}
@font-face {
    font-family: 'Bebas';
    src: url(fonts/BebasNeue-Regular.ttf);
}

/* Text styling */
ul {
    list-style-type: none;
}

a {
    color: var(--dark-color);
}

.centered {
    text-align: center;
}
/* 
==================
      Navbar 
==================
*/
.navbar a {
    text-decoration: none;
    color: var(--light-color);
}
.navbar {
    background-color: var(--dark-color);
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.navbar .container {
    width: 85%;
}
.navbar .flex-end {
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    line-height: 2em;
    align-items: center;
}
.navbar li{
    padding: 20px;
    font-family: 'Playfair';
    text-align: center;
}
.navbar h1 {
    padding: 10px;
    font-family: 'Abril';
    text-align: center;
}

.navbar li a:hover {
    text-shadow: 1px 1px 3px var(--light-color);
}
/* Dropdown */

.dropdown {
    display: inline-block;
}
  
.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-menu a {
    color: var(--light-color);
    padding: 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-menu a:hover {
    background-color: rgba(0,0,0,0.1);
}
  
.dropdown:hover .dropdown-menu {
    display: block;
    background-color: var(--mid-color);
    z-index: 99;
}

/* Heading */
.heading {
    position: relative;
}
.heading img{
    width: 100%;
    position: relative;
    z-index: -99;
    max-height: 400px;
}
.heading h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 98;
    text-align: center;
    font-size: 4em;
    color: white;
    font-family: 'Abril';
}
/* Columns */

.column2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .2fr 1fr;
    gap: 25px;
    
}
.column3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

/* Cards */
.card {
    border-radius: 10px;
    padding: 10px;
    background-color: var(--dark-mid);
    border: 5px double var(--light-outline);
    color: #053b06;
    font-family: 'Playfair';
}
/* Videos */
iframe {
    padding: 10px 0px;
}
/* Footer */
footer a {
    color: var(--light-color);
    text-decoration: none;
}
footer {
    width: 100%;
    background-color: var(--dark-color);
    padding:10px 0px;
}
.submenu {
    flex-flow: column nowrap;
    padding: 5px 30px;
}
footer nav {
    font-family: 'Playfair';
    padding: 25px 10px;
    font-size:.8em;
}
footer nav a {
    padding:10px;
}
footer .social {
    margin: auto;
}
footer i {
    padding: 5px;
}
footer nav li ul a {
    padding-top:0;
}
footer h1 {
    padding-left: 20px;
    font-family:'Abril';
    color: var(--light-color);
    margin: auto;
    font-size: 2.5em;
    text-align: center;
}

/* Media Queries */

@media (max-width:600px) {
    /* navbar */
    .navbar ul {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        line-height: 2em;
    }
    .navbar li {
        padding: 10px;
    }
    .navbar h1 {
        margin: auto 0;
    }
    .column2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        text-align: center;
    }
    footer h1{
        font-size: 1.5em;
    }
    footer.column3 {
        gap: 10px;
       
    }
    .navbar h1{
        font-size: 1.5em;
    }
    
}
@media (min-width:601px) {
    /* navbar */
    .navbar ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        line-height: 2em;
    }
}
@media(max-width:430px){
    .showcase .container .number{
        display: none;
    }
    
}